<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDWXoYXjCL12yQzAg3W4sNhOt0zFm9zcVE</string>
	<key>GCM_SENDER_ID</key>
	<string>300685608803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vigtask.app</string>
	<key>PROJECT_ID</key>
	<string>vigtask-app</string>
	<key>STORAGE_BUCKET</key>
	<string>vigtask-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:300685608803:ios:2561c7e29ea6bc75c67556</string>
</dict>
</plist>